<p class='last_update'>Last Update <%= Time.now.strftime("%b %d at %I:%M %P") %></p>
<div style="clear:both;"></div>

<%= will_paginate(@posts) %>

<% search_integrate do %>

  <%= render :partial => 'shared/search' %>

  <% @posts.each do |p| %>
   <p>
      <%= link_to(p.title, p.post_url, :target => '_new') %>
      <%= number_to_currency(p.price, :precision => 0) %>
      <%= h_date(p.published) %>
      in <strong><%= p.feed_name.titleize %></strong>
  <% end -%>

  <%= will_paginate(@posts) %>

<% end %>