<%= will_paginate(@posts, :class => 'pagination top') %>

<% @posts.each do |p| %>
  <% if @date != h_date(p.published) %>
    <div class="head">
      <%= @date = h_date(p.published) %>
    </div>
  <% end %> 
  <a href="<%= p.url %>">
    <div class="entry">
      <span class="date"><%= p.year %></span>
      <span class="desc"><%= p.title %></span>
      <span class="loc"><%= Feed.feeds[p.feed_name].name.titleize %>, <%= Feed.feeds[p.feed_name].state.titleize %></span>
      <span class="price"><%= number_to_currency(p.price, :precision => 0) %></span>
    </div>
  </a> 
<% end %>

<%= will_paginate(@posts, :class => 'pagination bottom') %>

<% content_for :right do %>
 <%= render :partial => 'shared/my_links' %>
<% end %>
