<h2>
  <%= Settings::CONFIG[@app_name.to_sym][:title] %> (<%= @posts.total_entries %>)
</h2>

<h4>Last Update <%= Time.now.utc %></h4>

<%= will_paginate(@posts) %>

<% @posts.each do |p| %>
 <p>
    <%= link_to(p.title, p.post_url, :target => '_new') %>
    <%= number_to_currency(p.price, :precision => 0) %>
    <%= h_date(p.published) %>
    in <strong><%= p.feed_name.titleize %></strong>
<% end -%>

<%= will_paginate(@posts) %>