<h2>myporsche.us</h3>
<h3>Last Update<%= Time.now.utc %></h3>

<%= render 'shared/simple_search' %>

<% @posts.each do |p| %>
<p><%= link_to(p.title, p.post_url, :target => '_new') %> <%= number_to_currency(p.price, :precision => 0) %> (<%= h_date(p.published) %>)</p>
<% end -%>

<%= will_paginate(@posts) %>