%h2
  = CONFIG[:title]
  (#{@posts.total_entries})

%h4 Last Update #{Time.now.utc}

- @posts.each do |p|
  %p 
    = link_to(p.title, p.post_url, :target => '_new')
    = number_to_currency(p.price, :precision => 0)
    = h_date(p.published)
    in 
    %strong 
      = p.feed_name.titleize
      
= will_paginate(@posts) 