<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <title>MyStream&trade; -  <%= CONFIG[:title] %> for sale in the USA</title> 
    <meta name='description' value='Search for used and new cars: audi bmw ferrari ford jeep landrover toyota volvo acura cadillac chevrolet chrysler dodge gmc honda hummer jaguar lexus lotus maserati mazda mercedes-benz mini mitsubishi nissan porsche rover saab smart subaru volkswagen in 115 aggregated craigslist feeds! Albany Allentown Albuquerque Anchorage Ann Arbor Asheville Atlanta Austin Bakersfield Baltimore Baton Rouge Birmingham Boise Boston Buffalo Burlington Champaign Urbana Charleston Charlotte Chicago Chico Cincinnati Cleveland Columbia, S.C. Columbus Dallas Delaware Dayton Denver / Boulder Des moines Detroit El Paso Eugene Fort Myers / SW Florida Fresno Grand Rapids Greensboro Harrisburg Hartford Houston Honolulu Humboldt Indianapolis Inland Empire Ithaca Jackson Jacksonville Kansas City Knoxville Little Rock Las Vegas Lexington Los Angeles Louisville Maine Madison Memphis Miami Milwaukee Minneapolis Mobile Modesto Montana Monterey Montgomery Nashville New Hampshire New Haven New Jersey New York City New Orleans Norfolk North Dakota Oklahoma City Omaha Orange County Orlando Pensacola Philadelphia Phoenix Pittsburgh Portland Puerto Rico Providence Raleigh Redding Reno Richmond Rochester Sacramento Salt Lake City San Antonio San Diego San Francisco Bay Area San Luis Obispo Santa Barbara Savannah Seattle-Tacoma Shreveport South Dakota Spokane St. Louis Stockton Syracuse Tallahassee Tampa Toledo Tucson Tulsa Washington D.C. Western Massachusetts West Palm Beach West Virginia Wichita Wyoming' /> 
    <meta name='keywords' value='new and used cars, audi bmw ferrari ford jeep landrover toyota volvo acura cadillac chevrolet chrysler dodge gmc honda hummer jaguar lexus lotus maserati mazda mercedes-benz mini mitsubishi nissan porsche rover saab smart subaru volkswagen' /> 
    <%= javascript_include_tag('jquery') %>
    <%= stylesheet_link_tag :all, :cache => true %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18376540-2']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head> 
  <body>
    <%= yield %>
    <div id='footer'>
      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>    